{
    "openapi": "3.1.0",
    "info": {
        "title": "Laravel",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https:\/\/ecommerce-api.inovasicode.com\/api",
            "description": "Local"
        },
        {
            "url": "https:\/\/ecommerce-api.inovasicode.com\/api\/",
            "description": "Prod"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "\/admin\/category": {
            "get": {
                "operationId": "category.index",
                "summary": "Display a listing of the resource",
                "tags": [
                    "AdminCategory"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/CategoryResource"
                                                    }
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Show all category"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "category.store",
                "summary": "Store a newly created resource in storage",
                "tags": [
                    "AdminCategory"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "category": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "category"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/CategoryResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Category created successfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/category\/{id}": {
            "put": {
                "operationId": "category.update",
                "description": "\u26a0\ufe0f Cannot generate request documentation: Undefined variable $category",
                "summary": "Update the specified resource in storage",
                "tags": [
                    "AdminCategory"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/CategoryResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Category updated successfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found."
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "category.destroy",
                "summary": "Remove the specified resource from storage",
                "tags": [
                    "AdminCategory"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/CategoryResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Category delete succesfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found."
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/discount": {
            "get": {
                "operationId": "discount.index",
                "summary": "Display a listing of the resource",
                "tags": [
                    "AdminDiscount"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/DiscountResource"
                                                    }
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Show all discount"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "discount.store",
                "summary": "Store a newly created resource in storage",
                "tags": [
                    "AdminDiscount"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "discount_code": {
                                        "type": "string"
                                    },
                                    "discount_name": {
                                        "type": "string"
                                    },
                                    "discount_amount": {
                                        "type": "integer"
                                    },
                                    "start_date": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "date-time"
                                    },
                                    "end_date": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "date-time"
                                    }
                                },
                                "required": [
                                    "discount_code",
                                    "discount_name",
                                    "discount_amount"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/DiscountResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Discount created successfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/discount\/{id}": {
            "put": {
                "operationId": "discount.update",
                "description": "\u26a0\ufe0f Cannot generate request documentation: Undefined variable $discount",
                "summary": "Update the specified resource in storage",
                "tags": [
                    "AdminDiscount"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/DiscountResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Discount update successfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found."
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "discount.destroy",
                "summary": "Remove the specified resource from storage",
                "tags": [
                    "AdminDiscount"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/DiscountResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Discount delete succesfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found."
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/discount\/{id}\/toggle": {
            "put": {
                "operationId": "adminDiscount.toggleStatus",
                "summary": "Update status discount",
                "tags": [
                    "AdminDiscount"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/DiscountResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Discount status updated successfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/product": {
            "get": {
                "operationId": "product.index",
                "summary": "Display a listing of the resource",
                "tags": [
                    "AdminProduct"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/ProductResource"
                                                    }
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Show all products"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "product.store",
                "summary": "Store a newly created resource in storage",
                "tags": [
                    "AdminProduct"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "featured_image": {
                                        "type": "string",
                                        "format": "binary",
                                        "contentMediaType": "application\/octet-stream",
                                        "maxLength": 2048
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "slug": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "number"
                                    },
                                    "category_id": {
                                        "type": "string"
                                    },
                                    "gallery": {
                                        "type": [
                                            "array",
                                            "null"
                                        ],
                                        "items": {
                                            "type": "string",
                                            "format": "binary",
                                            "contentMediaType": "application\/octet-stream",
                                            "maxLength": 2048
                                        }
                                    }
                                },
                                "required": [
                                    "featured_image",
                                    "name",
                                    "slug",
                                    "description",
                                    "price",
                                    "category_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/ProductResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Product created successfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/product\/{id}": {
            "get": {
                "operationId": "product.show",
                "summary": "Display the specified resource",
                "tags": [
                    "AdminProduct"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/ProductResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Show detail product"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found"
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "product.update",
                "description": "\u26a0\ufe0f Cannot generate request documentation: Undefined variable $product",
                "summary": "Update the specified resource in storage",
                "tags": [
                    "AdminProduct"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/ProductResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Product updated successfully"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found"
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "product.destroy",
                "summary": "Remove the specified resource from storage",
                "tags": [
                    "AdminProduct"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/ProductResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Product delete succesfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found"
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/profile": {
            "get": {
                "operationId": "adminProfile.index",
                "tags": [
                    "AdminProfile"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/UserResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Show profile user."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "adminProfile.update",
                "description": "\u26a0\ufe0f Cannot generate request documentation: Undefined variable $user",
                "tags": [
                    "AdminProfile"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/UserResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Profile updated successfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/rating": {
            "get": {
                "operationId": "adminRating.index",
                "tags": [
                    "AdminRating"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/RatingResource"
                                                    }
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Show all ratings"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/rating\/{id}": {
            "get": {
                "operationId": "adminRating.showDetailRating",
                "tags": [
                    "AdminRating"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/RatingResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Show detail rating"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found."
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "adminRating.destroyRating",
                "tags": [
                    "AdminRating"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "null"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Review deleted successfully."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found."
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/sales-report": {
            "get": {
                "operationId": "adminSalesReport.index",
                "tags": [
                    "AdminSalesReport"
                ],
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "filter_date": {
                                                            "type": "string"
                                                        },
                                                        "total_income": {
                                                            "type": "string"
                                                        },
                                                        "total_orders": {
                                                            "type": "string"
                                                        },
                                                        "total_products_sold": {
                                                            "type": "string"
                                                        },
                                                        "best_selling_products": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "filter_date",
                                                        "total_income",
                                                        "total_orders",
                                                        "total_products_sold",
                                                        "best_selling_products"
                                                    ]
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Sales report"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/transaction": {
            "get": {
                "operationId": "adminTransaction.index",
                "tags": [
                    "AdminTransaction"
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#\/components\/schemas\/OrderResource"
                                                    }
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Show list transaction"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/admin\/transaction\/{id}": {
            "get": {
                "operationId": "adminTransaction.showDetailTransaction",
                "tags": [
                    "AdminTransaction"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "$ref": "#\/components\/schemas\/OrderResource"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Show detail transaction."
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "integer",
                                                    "example": 404
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Data not found"
                                                }
                                            },
                                            "required": [
                                                "status",
                                                "message"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/auth\/register": {
            "post": {
                "operationId": "auth.register",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 6
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "minLength": 6
                                    }
                                },
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "token": {
                                                            "type": "string"
                                                        },
                                                        "user": {
                                                            "$ref": "#\/components\/schemas\/UserResource"
                                                        }
                                                    },
                                                    "required": [
                                                        "token",
                                                        "user"
                                                    ]
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status": {
                                                            "type": "integer",
                                                            "example": 200
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Registration Successfully"
                                                        }
                                                    },
                                                    "required": [
                                                        "status",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/auth\/login": {
            "post": {
                "operationId": "auth.login",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "user": {
                                                            "$ref": "#\/components\/schemas\/UserResource"
                                                        },
                                                        "token": {
                                                            "type": "string"
                                                        },
                                                        "expires_at": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "user",
[...]
